@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Bangers&family=Chicle&family=Comfortaa:wght@300&family=Creepster&family=Great+Vibes&family=Griffy&family=IM+Fell+French+Canon&family=IM+Fell+French+Canon+SC&family=Inconsolata:wght@200&family=Irish+Grover&family=Josefin+Sans&family=Karla&family=Limelight&family=Montserrat+Subrayada:wght@400;700&family=Montserrat:wght@400;700&family=Nixie+One&family=Oswald&family=Philosopher:wght@400;700&family=Poiret+One&family=Press+Start+2P&family=Raleway:wght@100&family=Roboto+Mono:wght@100&family=Rye&family=Slabo+27px&family=Space+Mono&family=Spectral&family=Tenor+Sans&family=Ultra&family=Unica+One&family=VT323&family=Varela+Round&family=Yeseva+One&display=swap');

.App, body {
  text-align: center;
  background-color: black;
  font-family: 'Space Mono', monospace;
  color: antiquewhite;
}

.books-list, .albums-list, .movies-list, .shows-list {
  display: flex;
  flex-wrap: wrap;
}

.book, .album, .movie, .show {
  background-color: black;
  color: black;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  width: 200px;
}

